body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-colour: hsl(1, 85%, 65%);
    --secondary-colour: hsl(48, 100%, 70%);
    --font-colour: hsl(198, 63%, 38%);
    --secondfont-colour: hsl(170, 40%, 60%);
    /* cursor: url('chicken.png'), auto; */
}
header {
    margin: auto;
    padding: 2rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(images/headerbackground.png) no-repeat center center fixed; 
    background-size: cover;
    color: var(--primary-colour);
}

main {
    margin: auto;
}

.options {
    /* margin: 0 auto; */
    /* width: 40vw; */
    display: inline-block;
    text-align: center;
}

.hidden {
    display: none;
}

.messages {
    margin: 1rem auto;
}

.dogpost {
    margin: 1rem auto;
    border: 1px solid var(--primary-colour);
    padding: 1rem;
}


@media only screen and (min-width: 768px){
    .forminput {
        width: 40vw;
        margin: auto;
    }
    .dogpost {
        max-width: 40vw;
    }
    
}

img {
    height: 0;
}

.topnav {
    background-color: hsl(1, 85%, 65%);
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    color :hsl(48, 100%, 70%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  .topnav a:hover {
    background-color: hsl(170, 40%, 60%);
    color: black;
  }
  
 
  .topnav a.active {
    background-color: hsl(198, 63%, 38%);
    color: white;
  }
